body {
    background-color: black;
}

h1, h2 {
    font-family: 'Paytone One', sans-serif;
    color: whitesmoke;
}

p {
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 18px;
    color: white;
}

.nav-text {
    color: aliceblue;
}

/*Fontes texto
/*font-family: 'Montserrat', sans-serif;
/*font-family: 'Pathway Extreme', sans-serif;


/*Fontes titulo
font-family: 'Paytone One', sans-serif;

/*Hexadecimal cores Vermelho = #ac1111 // #CD5656
/*Hexadecimal cores Azul = #40488c // #45185B
/*Hexadecimal cores Branco = #E6E3E3 // whitesmoke // #FFEFF7